<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMBER_myInfo</title>
    <link href="/dist/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrap w-full">
      <div class="container mx-auto max-w-screen-2xl bg-myFifthColor">
        <!-- header -->
        <div
          class="header mx-auto flex justify-between bg-mySecondColor pt-4 pl-6 pr-4 pb-4"
        >
          <a class="h-10 w-10" href="#"
            ><img src="/src/assets/images/uniqlo.png" alt=""
          /></a>
          <!-- navBar -->
          <div class="navBar flex">
            <a
              class="mr-2 mb-2 rounded-full bg-white px-5 py-2.5 text-center text-sm font-medium text-myFirstColor hover:bg-myyFirstColorHover hover:text-white focus:outline-none focus:ring-4 focus:ring-green-300"
              >發表評論</a
            >
            <a
              class="mr-2 mb-2 rounded-full bg-myFirstColor px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-myyFirstColorHover focus:outline-none focus:ring-4 focus:ring-green-300"
              >登入</a
            >
          </div>
        </div>
        <!-- body -->
        <div class="flex justify-around py-4 pl-6 pr-6">
          <!-- aboutMe -->
          <div class="h-96 w-80 rounded bg-white px-8 py-6 shadow-lg">
            <img
              class="mx-auto block h-20 w-20 rounded-full"
              src="/src/assets/images/dog.jpeg"
              alt=""
            />
            <h1 class="my-6 text-center text-3xl">Archer</h1>

            <div class="">
              <a
                class="block h-10 w-full rounded-sm pl-2 pt-2 text-left hover:bg-mySecondColor hover:text-myyFirstColorHover"
                href=""
                >個人資料</a
              >
              <a
                class="block h-10 w-full rounded-sm pl-2 pt-2 text-left hover:bg-mySecondColor hover:text-myyFirstColorHover"
                href=""
                >我的通知</a
              >
              <a
                class="block h-10 w-full rounded-sm pl-2 pt-2 text-left hover:bg-mySecondColor hover:text-myyFirstColorHover"
                href=""
                >我的評論</a
              >
            </div>
          </div>

          <!-- fillMe-->
          <div class="w-960px rounded bg-white px-8 py-6 shadow-lg">
            <img
              class="mx-auto block h-20 w-20 rounded-full"
              src="/src/assets/images/dog.jpeg"
              alt=""
            />
            <!-- upload your mug -->
            <div class="flex justify-center">
              <a
                class="my-2 h-10 w-20 rounded-md bg-mySecondColor pt-2 text-center text-myFirstColor"
                href=""
                >上傳頭貼</a
              >
            </div>

            <form>
              <div class="mb-6">
                <label
                  for="yourName"
                  class="mb-2 block text-xl font-medium text-gray-900"
                  >名稱</label
                >
                <input
                  type="text"
                  id="yourName"
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-myyFirstColorHover"
                  placeholder="Archer Huang"
                  required
                />
              </div>
              <div class="mb-6">
                <label
                  for="email"
                  class="mb-2 block text-xl font-medium text-gray-900"
                  >信箱</label
                >
                <input
                  type="email"
                  id="email"
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-myyFirstColorHover"
                  placeholder="WorkExchange@gmail.com"
                  required
                />
              </div>
              <button
                class="mr-2 mb-2 rounded-full bg-mySecondColor px-5 py-2.5 text-center text-sm font-medium text-myFirstColor hover:bg-myyFirstColorHover hover:text-white focus:outline-none focus:ring-4 focus:ring-green-300"
              >
                修改密碼
              </button>
              <button
                type="submit"
                class="mr-2 mb-2 rounded-full bg-myFirstColor px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-myyFirstColorHover focus:outline-none focus:ring-4 focus:ring-green-300"
              >
                儲存
              </button>
            </form>
          </div>
        </div>

        <!-- footer -->
        <footer
          class="rounded-lg bg-white p-4 shadow md:flex md:items-center md:justify-between md:p-6"
        >
          <span class="text-sm text-gray-500 sm:text-center"
            >© 2023
            <a href="https://flowbite.com/" class="hover:underline"
              >WorkExchange</a
            >. All Rights Reserved.
          </span>
          <ul class="mt-3 flex flex-wrap items-center text-sm text-gray-500">
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </body>
</html>
