<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEARCH</title>
    <link href="/dist/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrap w-full">
      <div class="container mx-auto max-w-screen-2xl bg-myFifthColor">
        <!-- header -->
        <div
          class="header mx-auto flex justify-between bg-mySecondColor py-4 pl-6 pr-4"
        >
          <a class="h-10 w-10" href="#"
            ><img src="/src/assets/images/uniqlo.png" alt=""
          /></a>
          <!-- navBar -->
          <div class="navBar flex">
            <a
              class="mr-2 mb-2 rounded-full bg-white px-5 py-2.5 text-center text-sm font-medium text-myFirstColor hover:bg-myyFirstColorHover hover:text-white focus:outline-none focus:ring-4 focus:ring-green-300"
              >發表評論</a
            >
            <a
              class="mr-2 mb-2 rounded-full bg-myFirstColor px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-myyFirstColorHover focus:outline-none focus:ring-4 focus:ring-green-300"
              >登入</a
            >
          </div>
        </div>

        <!-- banner & search input-->
        <div class="banner h-64 bg-bannerImage bg-center pt-24">
          <form class="mx-auto max-w-xl">
            <label
              for="default-search"
              class="sr-only mb-2 text-sm font-medium text-gray-900"
              >Search</label
            >
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              ></div>
              <input
                type="search"
                id="default-search"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900"
                placeholder="請輸入換宿商家名稱"
                required
              />
              <button
                type="submit"
                class="absolute right-2.5 bottom-2.5 rounded-lg bg-myThirdColor px-4 py-2 text-sm font-medium text-white focus:outline-none"
              >
                搜尋
              </button>
            </div>
          </form>
        </div>
        <!-- possible matches indicator -->
        <div class="my-4 ml-6 text-base">2個搜尋結果</div>
        
        <!-- matched items -->
        <div class="mb-4 w-full px-6">
          <ul>
            <!-- each short info card -->
            <li class="my-3 flex w-full rounded-md bg-white px-4 py-4">
              <!-- mug -->
              <img
                class="h-24 w-24"
                src="/src/assets/images/cat.jpg"
                alt="cat"
              />

              <div class="ml-4 flex w-full items-center justify-between">
                <!-- store info short version -->
                <div>
                  <p class="text-xl font-bold">北山古洋樓</p>
                  <p>金門縣金寧鄉金寧鄉北山村55-3號</p>
                  <p>+886-82-313100</p>
                </div>
                <!-- rating stars -->
                <div
                  class="h-10 w-16 rounded-md bg-myThirdColor pt-1 text-center text-xl text-white"
                >
                  4.5
                </div>
              </div>
            </li>

            <li class="flex w-full rounded-md bg-white px-4 py-4">
              <!-- mug -->
              <img
                class="h-24 w-24"
                src="/src/assets/images/cat.jpg"
                alt="cat"
              />

              <div class="ml-4 flex w-full items-center justify-between">
                <!-- store info short version -->
                <div>
                  <h1 class="text-xl font-bold">北山古洋樓</h1>
                  <p>金門縣金寧鄉金寧鄉北山村55-3號</p>
                  <p>+886-82-313100</p>
                </div>
                <!-- rating stars -->
                <div
                  class="h-10 w-16 rounded-md bg-myThirdColor pt-1 text-center text-xl text-white"
                >
                  4.5
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- footer -->
        <footer
          class="rounded-lg bg-white p-4 shadow md:flex md:items-center md:justify-between md:p-6"
        >
          <span class="text-sm text-gray-500 sm:text-center"
            >© 2023
            <a href="https://flowbite.com/" class="hover:underline"
              >WorkExchange</a
            >. All Rights Reserved.
          </span>
          <ul
            class="mt-3 flex flex-wrap items-center text-sm text-gray-500 sm:mt-0"
          >
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </body>
</html>
